.news-box {
    padding: 1rem 1rem 1rem 1rem;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news-heading {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.news-description {
    font-size: 30px;
}

.news-results {
    margin-bottom: 10px;
}