* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.page-blog {
  max-width: 800px;
  margin: auto;
}

.linebreak {
  margin: 1rem;
}

.border-left-blue {
  border-left: 5px solid blue;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 1rem 2rem;
}

.text-blue {
  color: blue;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-line-through {
  text-decoration: line-through;
}

.text-large {
  font-size: 2rem;
}

.text-md {
  font-size: 1.6rem;
}

.image-wrap {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrap>img {
  max-width: 100%;
  height: auto;
}

.image-wrap>img.md {
  width: 20%;
}

.list {
  padding: 0 5rem;
}

.indi-blog {
/* border: 1px solid red; */
  width: 100%;
  margin: auto;
 
  
}
.indi-blog-content{
  margin: auto;
  width: 60%;
  margin-top: 20px;
 
}
.title-text {
  color: #3070F0;
  font-weight: bold;
  font-size: 14px;
  padding: 4rem 1rem 1rem 1rem;
}

.heading-text {
  font-size: 45px;
  font-weight: bold;
  line-height: 50px;
}

.description-text {
  font-size: 20px;
  color: rgb(136, 136, 136);
  margin-top: 30px;
  
}
.author-details{
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  
}
.author-img {
width: 50px;
}

.author-text {
  font-weight: bold;
}
.logo-img {
  width: 95%;
  margin: auto;
}