.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4rem 0.5rem 2rem;
    gap: 8px;
    align-content: space-between;
    position: sticky;
    top: 0;

}

.navbar-bg {
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    color: rgb(0, 0, 0);
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    height: auto;
    font-weight: 500;
    color: rgb(219, 219, 219)
}

.nav-bg {
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.navbar-lg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-content: space-between;
}

@media only screen and (min-width: 1001px) {
    .navbar-lg {
        display: inherit;
    }

    .navbar-md {
        display: none; 
     }
}

@media only screen and (max-width: 1001px) {
    .navbar-lg {
        display: none;
    }

    .navbar-md {
        display: inherit;
        height: 2rem;
    }
}